@model ProcCore.Business.DB0.ProductContentInfo
@{
    ViewBag.Title = "產品介紹";
    ViewBag.BodyClass = "Products p2";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section Scripts {
    <div id="lb-overlay">
        <div id="lb">
            <button class="close">&times;</button>
        </div>
    </div>
    <script>

        // 特效完全載入前先隱藏一下
        $(window).load(function () {
            $('#content').removeClass("hidden");
        });

        // 燈箱 產品介紹
        $('.lb-content').appendTo('#lb');

        $('.lb-trigger').click(function (event) {

            $('body').addClass('fixed');

            var height = $(window).height();
            var position = $(window).scrollTop();
            $("#lb-overlay").fadeIn().css({
                'height': height
            });

            var lb = $(this).attr("href");
            $(lb).fadeIn().siblings('.lb-content').hide();

            event.preventDefault();

        });

        $('#lb-overlay .close').click(function () {
            $("#lb-overlay").fadeOut();
            $('.lb-content').hide();
            $("body").removeClass("fixed");
        });
    </script>
    @if (ViewBag.l2_id == 1)
    {
        <script>
            // 次次分類 頁籤切換
            var tabShow = $(".tab-trigger.active").attr("href");
            $("ul.pro").hide();
            $(tabShow).show();

            $('.tab-trigger').click(function (event) {

                $(this).addClass("active");
                $(".tab-trigger").not(this).removeClass("active");

                var tab = $(this).attr("href");
                $(tab).fadeIn().siblings('ul.pro').hide();

                event.preventDefault();

            });
        </script>
    }
}

<div class="wrap">

    <ul class="breadcrumb">
        <li><a href="~/Index">HOME</a></li>
        <li><a href="~/Products/list">產品介紹</a></li>
        <li>Inductance 電感</li>
        <li class="submenu-trigger"><button class="btn">產品分類 ▼</button></li>
    </ul>

    <aside id="sidebar">
        <h3>產品 Products</h3>
        @foreach (var i in Model.p_list)
        {
            <article class="pro-cat">
                <h4>@i.l1_name</h4>
                <ul class="submenu">
                    @foreach (var j in i.l2_list)
                    {
                        if (ViewBag.l2_id == j.l2_id)
                        {
                            <li><a class="active" href="~/Products/content?l2_id=@j.l2_id">@j.l2_name</a></li>
                        }
                        else
                        {
                            <li><a href="~/Products/content?l2_id=@j.l2_id">@j.l2_name</a></li>
                        }
                    }
                </ul>
            </article>
        }
    </aside>

    <section id="content" class="hidden">

        <header class="intro">

            @* 只有 分類 1-1 才有頁籤切換 *@
            @if (ViewBag.l2_id == 1)
            {
                <h3 class="float-l">@ViewBag.l2_name</h3>

                <ul class="tab list-inline">
                    <li><a class="active tab-trigger" href="#tab1">SMD 繞線式功率電感</a></li>
                    <li><a class="tab-trigger" href="#tab2">一體式電感</a></li>
                </ul>
            }
            else
            {
                <h3>@ViewBag.l2_name</h3>
            }

            <p class="lead">Multilayer chip beads and inductors</p>
        </header>

        @if (ViewBag.l2_id == 1)
        {
            @* SMD 繞線式功率電感 *@
            <ul id="tab1" class="pro">
                @foreach (var i in Model.p_data)
                {
                    if (i.product_type == 1)
                    {
                        if (i.imgsrcs != null & i.product_content != null & i.product_name != null)
                        {
                            <li>
                                <div id=@("pro" + i.product_id) class="pro-detail lb-content">
                                    <article class="pro-content">
                                        <header><h4 class="title">@i.product_name</h4></header>
                                        <section class="editor">
                                            @Html.Raw(i.product_content)
                                        </section>
                                    </article>
                                    <ul class="pro-img">
                                        @foreach (var img in i.imgsrcs)
                                        {
                                            <li><img src="@img" alt=""></li>
                                        }
                                    </ul>
                                </div>
                                <figure>
                                    <a class="lb-trigger" href=@("#pro" + i.product_id)>
                                        <img src="@i.imgsrc" alt="">
                                        <figcaption>@i.product_name</figcaption>
                                    </a>
                                </figure>

                            </li>
                        }
                        else if (i.imgsrcs != null & i.product_content == null & i.product_name == null)
                        {
                            <li>
                                <div id=@("pro" + i.product_id) class="pro-detail lb-content">
                                    <ul class="pro-img">
                                        @foreach (var img in i.imgsrcs)
                                        {
                                            <li><img src="@img" alt=""></li>
                                        }
                                    </ul>
                                </div>
                                <figure>
                                    <a class="zoom lb-trigger" href=@("#pro" + i.product_id)>
                                        <img src="@i.imgsrc" alt="">
                                    </a>
                                </figure>

                            </li>
                        }
                        else if (i.imgsrcs == null & (i.product_name != null || i.product_content != null))
                        {
                            <li>
                                @if (i.product_name == null)
                            {
                                    <div id=@("pro" + i.product_id) class="pro-detail lb-content">
                                        <article class="pro-content full">
                                            <section class="editor">
                                                @Html.Raw(i.product_content)
                                            </section>
                                        </article>
                                    </div>
                                    <figure>
                                        <a class="zoom lb-trigger" href=@("#pro" + i.product_id)>
                                            <img src="@i.imgsrc" alt="">
                                        </a>
                                    </figure>
                                }
                                else
                                {
                                    <div id=@("pro" + i.product_id) class="pro-detail lb-content">
                                        <article class="pro-content full">
                                            <header><h4 class="title">@i.product_name</h4></header>
                                            <section class="editor">
                                                @Html.Raw(i.product_content)
                                            </section>
                                        </article>
                                    </div>
                                    <figure>
                                        <a class="fancy-inline lb-trigger" href=@("#pro" + i.product_id)>
                                            <img src="@i.imgsrc" alt="">
                                            <figcaption>@i.product_name</figcaption>
                                        </a>
                                    </figure>
                                }
                            </li>
                        }
                    }
                }

            </ul>

            @* 一體式電感 *@
            <ul id="tab2" class="pro">

                @foreach (var i in Model.p_data)
                {
                    if (i.product_type == 2)
                    {
                        if (i.imgsrcs != null & i.product_content != null & i.product_name != null)
                        {
                            <li>
                                <div id=@("pro" + i.product_id) class="pro-detail lb-content">
                                    <article class="pro-content">
                                        <header><h4 class="title">@i.product_name</h4></header>
                                        <section class="editor">
                                            @Html.Raw(i.product_content)
                                        </section>
                                    </article>
                                    <ul class="pro-img">
                                        @foreach (var img in i.imgsrcs)
                                        {
                                            <li><img src="@img" alt=""></li>
                                        }
                                    </ul>
                                </div>
                                <figure>
                                    <a class="fancy-inline lb-trigger" href=@("#pro" + i.product_id)>
                                        <img src="@i.imgsrc" alt="">
                                        <figcaption>@i.product_name</figcaption>
                                    </a>
                                </figure>

                            </li>
                        }
                        else if (i.imgsrcs != null & i.product_content == null & i.product_name == null)
                        {
                            <li>
                                <div id=@("pro" + i.product_id) class="pro-detail lb-content">
                                    <ul class="pro-img">
                                        @foreach (var img in i.imgsrcs)
                                        {
                                            <li><img src="@img" alt=""></li>
                                        }
                                    </ul>
                                </div>
                                <figure>
                                    <a class="zoom lb-trigger" href=@("#pro" + i.product_id)>
                                        <img src="@i.imgsrc" alt="">
                                    </a>
                                </figure>

                            </li>
                        }
                        else if (i.imgsrcs == null & (i.product_name != null || i.product_content != null))
                        {
                            <li>
                                @if (i.product_name == null)
                            {
                                    <div id=@("pro" + i.product_id) class="pro-detail lb-content">
                                        <article class="pro-content full">
                                            <section class="editor">
                                                @Html.Raw(i.product_content)
                                            </section>
                                        </article>
                                    </div>
                                    <figure>
                                        <a class="zoom lb-trigger" href=@("#pro" + i.product_id)>
                                            <img src="@i.imgsrc" alt="">
                                        </a>
                                    </figure>
                                }
                                else
                                {
                                    <div id=@("pro" + i.product_id) class="pro-detail lb-content">
                                        <article class="pro-content full">
                                            <header><h4 class="title">@i.product_name</h4></header>
                                            <section class="editor">
                                                @Html.Raw(i.product_content)
                                            </section>
                                        </article>
                                    </div>
                                    <figure>
                                        <a class="fancy-inline lb-trigger" href=@("#pro" + i.product_id)>
                                            <img src="@i.imgsrc" alt="">
                                            <figcaption>@i.product_name</figcaption>
                                        </a>
                                    </figure>
                                }
                            </li>
                        }
                    }
                }

            </ul>
        }
        else
        {
            <ul id="tab1" class="pro">
                @foreach (var i in Model.p_data)
                {
                    if (i.imgsrcs != null & i.product_content != null & i.product_name != null)
                    {
                <li>
                    <div id=@("pro" + i.product_id) class="pro-detail lb-content">
                        <article class="pro-content">
                            <header><h4 class="title">@i.product_name</h4></header>
                            <section class="editor">
                                @Html.Raw(i.product_content)
                            </section>
                        </article>
                        <ul class="pro-img">
                            @foreach (var img in i.imgsrcs)
                                    {
                                    <li><img src="@img" alt=""></li>
                                    }
                        </ul>
                    </div>
                    <figure>
                        <a class="fancy-inline lb-trigger" href=@("#pro" + i.product_id)>
                            <img src="@i.imgsrc" alt="">
                            <figcaption>@i.product_name</figcaption>
                        </a>
                    </figure>

                </li>
                    }
                    else if (i.imgsrcs != null & i.product_content == null & i.product_name == null)
                    {
                <li>
                    <div id=@("pro" + i.product_id) class="pro-detail lb-content">
                        <ul class="pro-img">
                            @foreach (var img in i.imgsrcs)
                                    {
                                    <li><img src="@img" alt=""></li>
                                    }
                        </ul>
                    </div>
                    <figure>
                        <a class="zoom lb-trigger" href=@("#pro" + i.product_id)>
                            <img src="@i.imgsrc" alt="">
                        </a>
                    </figure>

                </li>
                    }
                    else if (i.imgsrcs == null & (i.product_name != null || i.product_content != null))
                    {
                <li>
                    @if (i.product_name == null)
                            {
                            <div id=@("pro" + i.product_id) class="pro-detail lb-content">
                                <article class="pro-content full">
                                    <section class="editor">
                                        @Html.Raw(i.product_content)
                                    </section>
                                </article>
                            </div>
                            <figure>
                                <a class="zoom lb-trigger" href=@("#pro" + i.product_id)>
                                    <img src="@i.imgsrc" alt="">
                                </a>
                            </figure>
                            }
                            else
                            {
                            <div id=@("pro" + i.product_id) class="pro-detail lb-content">
                                <article class="pro-content full">
                                    <header><h4 class="title">@i.product_name</h4></header>
                                    <section class="editor">
                                        @Html.Raw(i.product_content)
                                    </section>
                                </article>
                            </div>
                            <figure>
                                <a class="fancy-inline lb-trigger" href=@("#pro" + i.product_id)>
                                    <img src="@i.imgsrc" alt="">
                                    <figcaption>@i.product_name</figcaption>
                                </a>
                            </figure>
                            }

                </li>
                    }
                }
            </ul>
        }


    </section>

</div>