@{

    var sidebar = (List<ProcCore.Business.DB0.L1>)ViewBag.Sidebar;

}
<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="積層晶片電感, 積層晶片變壓器, 積層晶片濾波器, 積層電阻式電感, 電子組件製造, 電子組件加工, 桃園, 楊梅, 倡譽, 倡譽興業">
    <meta name="description" content="倡譽興業有限公司公司於民國97年成立於桃園縣，經營項目包括：各種電子組件之製造加工及買賣、積層晶片電感、積層晶片變壓器、 積層晶片濾波器之製造加工及買賣、積層電阻式電感之製造加工及買賣、前項產品之買賣及進出口貿易。">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title:@Resources.Res.System_Name</title>
    <!--[if lt IE 9]>
    <script src="//ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
    <![endif]-->
    <script src="~/Scripts/BrowerInfo.js"></script>
    <script>
        var gb_approot = '@Url.Content("~")';
    </script>
    @if (ViewBag.IsFirstPage)
    {
        <link href="~/Content/css/index.css" rel="stylesheet">
    }
    else
    {
        <link href="~/Content/css/page.css" rel="stylesheet">
    }
    @RenderSection("css", false)
</head>

<body class="@ViewBag.BodyClass">

<div id="wrapper">

    <header id="header">
        <div class="wrap">
            <h1 class="logo" onclick="location.href='@Url.Content("~/index")'" title="回首頁">倡譽興業有限公司</h1>
            <ul class="award list-inline">
                <li><strong>Quality Assurance</strong>ISO 9001　TS 16949</li>
                <li><strong>Environment Quality Policy</strong>ISO 14001　SGS Test Report</li>
            </ul>
            <button class="menu-trigger"></button>
            <nav id="menu">
                <header class="toggle">
                    <h2>MENU</h2>
                </header>
                <a href="~/index">HOME</a>
                <a href="~/AboutUs">公司簡介</a>
                <a class="sub-title" href="~/Products/list">產品介紹</a>
                <ul class="sub">
                    @foreach (var i in sidebar)
                    {
                    <li><a href="~/Products/content?l2_id=@i.first_l2_id">@i.l1_name</a></li>
                    }
                </ul>
                <a href="~/Inquire">線上諮詢</a>
                <a href="~/ContactUs">聯絡我們</a>
            </nav>
        </div><!-- wrap //-->
    </header><!-- header //-->

    <main id="main">
        @RenderBody()
    </main>

</div><!-- wrapper //-->

<footer id="footer">
    <div class="wrap">
        <dl>
            <dt><a href="~/AboutUs">公司簡介<em>ABOUT US</em></a></dt>
            <dt><a href="~/Inquire">線上諮詢<em>INQUIRE</em></a></dt>
        </dl>

        <dl class="product">
            <dt>產品介紹<em>PRODUCTS</em></dt>
                @foreach (var i in sidebar)
                {
                    <dd><a href="~/Products/content?l2_id=@i.first_l2_id">@i.l1_name</a></dd>
                }

        </dl>

        <dl class="contact">
            <dt>聯絡我們<em>CONTACT US</em></dt>
            <dd><span>電話：</span><strong>0921-874-565</strong></dd>
            <dd><span>傳真：</span><strong>886-3-4961359</strong></dd>
            <dd><span>地址：</span>桃園市楊梅區幼獅路二段392巷29弄17號</dd>
            <dd><span>E-mail：</span><a href="mailto:tpower.lo@msa.hinet.net">tpower.lo@msa.hinet.net</a></dd>
        </dl>

        <!-- <ul class="menu">
            <li>
                <a href="~/AboutUs">公司簡介<em>ABOUT US</em></a>
                <a href="~/Inquire">線上諮詢<em>INQUIRE</em></a>
            </li>
            <li>
                產品介紹<em>PRODUCTS</em>
                <ul class="product">
                    <li><a href="">被動元件</a></li>
                    <li><a href="">線材組</a></li>
                    <li><a href="">Magnet 永久磁鐵</a></li>
                </ul>
            </li>
            <li>
                聯絡我們<em>CONTACT US</em>
                <ul class="contact">
                    <li><em>電話：</em><strong>0921-874-565</strong></li>
                    <li><em>傳真：</em><strong>886-3-4961359</strong></li>
                    <li><em>地址：</em><a href="https://goo.gl/maps/JULbvuwcYD92" target="new">桃園市楊梅區幼獅路二段392巷29弄17號</a></li>
                    <li><em>E-mail：</em><a href="mailto:tpower.lo@msa.hinet.net">tpower.lo@msa.hinet.net</a></li>
                </ul>
            </li>
        </ul> -->
        <div class="copyright"><span>t-POWER</span>&copy; 2015</div>
        <a href="#header" class="goTop">TOP</a>
    </div>
</footer><!-- footer -->

<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript">
    // 回頂端
    $(window).scroll(function () {
        if ($(this).scrollTop() > 100) {
            $('.goTop').fadeIn();
        } else {
            $('.goTop').fadeOut();
        }
    });
    $('.goTop').click(function (event) {
        $('html, body').animate({
            scrollTop: $($.attr(this, 'href')).offset().top
        }, 1000);
        event.preventDefault();
    });

    // 行動裝置的主選單
    $(".menu-trigger").click(function (event){
        $("body").toggleClass("toggled");
        event.preventDefault();
    });

    // 行動裝置的產品左選單
    $(".submenu-trigger .btn").click(function (event){
        $("#sidebar").slideToggle();
        event.preventDefault();
    });
</script>
@RenderSection("Scripts", required: false)

</body>
</html>